Package: asterisk-mobile
Source: asterisk
Version: 1:16.12.1~dfsg-1.1ubuntu1.0
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 179
Depends: asterisk (= 1:16.12.1~dfsg-1.1ubuntu1.0), libbluetooth3 (>= 4.91), libc6 (>= 2.14)
Section: comm
Priority: optional
Homepage: http://www.asterisk.org/
Description: Bluetooth phone support for the Asterisk PBX
 Asterisk is an Open Source PBX and telephony toolkit.
 .
 This package provides support for connecting Bluetooth devices to the
 Asterisk PBX. It allows you to:
   * Send and receive PSTN calls and SMS messages over a Bluetooth phone.
   * Use a Bluetooth handset as a local phone connected to your PBX.
 .
 For more information about the Asterisk PBX, have a look at the Asterisk
 package.
Original-Maintainer: Debian VoIP Team <pkg-voip-maintainers@lists.alioth.debian.org>
