Package: asterisk-doc
Source: asterisk
Version: 1:16.12.1~dfsg-1.1ubuntu1.3
Architecture: all
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 985
Recommends: asterisk
Section: doc
Priority: extra
Homepage: http://www.asterisk.org/
Description: Source code documentation for Asterisk
 Asterisk is an Open Source PBX and telephony toolkit.
 .
 This package contains the documentation for configuring an Asterisk system.
Original-Maintainer: Debian VoIP Team <pkg-voip-maintainers@lists.alioth.debian.org>
