Package: asterisk-config
Source: asterisk
Version: 1:16.12.1~dfsg-1.1ubuntu1.1
Architecture: all
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 1332
Recommends: asterisk
Conflicts: asterisk-config-custom
Replaces: asterisk-config-custom
Section: comm
Priority: optional
Homepage: http://www.asterisk.org/
Description: Configuration files for Asterisk
 Asterisk is an Open Source PBX and telephony toolkit.
 .
 This package contains the default configuration files of Asterisk.
 .
 With program asterisk-config-custom in the asterisk package,
 you can create an asterisk-config replacement package.
Original-Maintainer: Debian VoIP Team <pkg-voip-maintainers@lists.alioth.debian.org>
