Package: asterisk-voicemail-odbcstorage
Source: asterisk
Version: 1:13.21.3~dfsg-1.1ubuntu1.4
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 303
Depends: asterisk (= 1:13.21.3~dfsg-1.1ubuntu1.4), libc6 (>= 2.14), libodbc1 (>= 2.3.1)
Conflicts: asterisk-voicemail-storage
Breaks: asterisk (<< 1:1.8.3.3)
Replaces: asterisk (<< 1:1.8.3.3)
Provides: asterisk-voicemail-storage
Section: comm
Priority: optional
Homepage: http://www.asterisk.org/
Description: ODBC voicemail storage support for the Asterisk PBX
 Asterisk is an Open Source PBX and telephony toolkit.
 .
 This package includes an database-based voicemail storage: storing the
 voicemail in a database accessed through the ODBC interface. While more
 complex to set up, it may be useful in some settings.
 .
 For more information about the Asterisk PBX, have a look at the Asterisk
 package.
Original-Maintainer: Debian VoIP Team <pkg-voip-maintainers@lists.alioth.debian.org>
