Package: asterisk-dbg
Source: asterisk
Version: 1:16.12.1~dfsg-astra2
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 7327
Depends: asterisk (= 1:16.12.1~dfsg-astra2)
Section: debug
Priority: extra
Homepage: http://www.asterisk.org/
Description: Debugging symbols for Asterisk
 Asterisk is an Open Source PBX and telephony toolkit.
 .
 This package includes the debugging symbols useful for debugging
 Asterisk. The debugging symbols are used for execution tracing and core
 dump analysis.
Build-Ids: 571a1a5d0f69f3784ae4f18e1162612985806855 64b8737c30f13d9747ac06506456aa3bbe594df1 a47d131b58d01fe5bdc270dc02af3d14c29bd4e5 cbc8be13a1fad4a1f650b0a75e37e7fe1b1bbc00 d63476b0ee04781e0b6a03841c45822e1404249b db7c9893986f0de319492d6388869133131a20bb e7c9daa8e48fecf1356888c0012107ea78dca5b8
Original-Maintainer: Debian VoIP Team <pkg-voip-maintainers@lists.alioth.debian.org>
