Package: asterisk-dbg
Source: asterisk
Version: 1:13.21.3~dfsg-1.1ubuntu1.4
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 15593
Depends: asterisk (= 1:13.21.3~dfsg-1.1ubuntu1.4)
Section: debug
Priority: extra
Homepage: http://www.asterisk.org/
Description: Debugging symbols for Asterisk
 Asterisk is an Open Source PBX and telephony toolkit.
 .
 This package includes the debugging symbols useful for debugging
 Asterisk. The debugging symbols are used for execution tracing and core
 dump analysis.
Build-Ids: 447290f1e966df3a4be3c13183654106b830d69b 82203641a7f2b1cbd6b9f8bef9c5ecee818895f9 a06b48fd6f76627283b997c74347d3f6644bbc54 abef3dd4b3ea9869409ded22fdf199205b00f9df e17b8455165f27870d077e2c8a352a90b240ff90
Original-Maintainer: Debian VoIP Team <pkg-voip-maintainers@lists.alioth.debian.org>
