Package: asterisk-ooh323
Source: asterisk
Version: 1:16.12.1~dfsg-1.1ubuntu1.0
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 2122
Depends: asterisk (= 1:16.12.1~dfsg-1.1ubuntu1.0), libc6 (>= 2.14)
Section: comm
Priority: optional
Homepage: http://www.asterisk.org/
Description: H.323 protocol support for the Asterisk PBX - ooH323c
 Asterisk is an Open Source PBX and telephony toolkit.
 .
 This channel driver (chan_ooh323c) provides support for the H.323 protocol
 for Asterisk. This is an independent implementation that does not depend
 on OpenH323, but may be less functional than the original chan_h323.
 .
 For more information about the Asterisk PBX, have a look at the Asterisk
 package.
Original-Maintainer: Debian VoIP Team <pkg-voip-maintainers@lists.alioth.debian.org>
