Package: asterisk-dev
Source: asterisk
Version: 1:16.12.1~dfsg-1.1ubuntu1.3
Architecture: all
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 2891
Recommends: asterisk
Section: devel
Priority: extra
Homepage: http://www.asterisk.org/
Description: Development files for Asterisk
 Asterisk is an Open Source PBX and telephony toolkit.
 .
 This package contains the include files used if you wish to compile a
 package which requires Asterisk's source file headers.
Original-Maintainer: Debian VoIP Team <pkg-voip-maintainers@lists.alioth.debian.org>
