Package: asterisk-modules
Source: asterisk
Version: 1:16.12.1~dfsg-astra2
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 11685
Depends: libasound2 (>= 1.0.16), libc6 (>= 2.17), libcurl3 (>= 7.16.2), libglib2.0-0 (>= 2.16.0), libgmime-2.6-0 (>= 2.6.4), libgsm1 (>= 1.0.18), libical3 (>= 3.0.0), libiksemel3 (>= 1.2), libjack-jackd2-0 (>= 1.9.10+20150825) | libjack-0.125, libldap-2.4-2 (>= 2.4.7), liblua5.1-0, libneon27, libodbc1 (>= 2.3.1), libogg0 (>= 1.1.0), libpci3 (>= 1:3.5.2-1), libportaudio2 (>= 19+svn20101113), libpq5, libradcli4, libresample1 (>= 0.1.3), libsensors4 (>= 1:3.0.0), libsnmp30 (>= 5.7.3+dfsg-1.7+deb9u3~dfsg), libspandsp2 (>= 0.0.6~pre18), libspeex1 (>= 1.2~beta3-1), libspeexdsp1 (>= 1.2~beta3.2-1), libsqlite0 (>= 2.8.17), libsqlite3-0 (>= 3.5.9), libsrtp0, libssl1.1 (>= 1.1.0), libsybdb5 (>= 0.63), libtiff5 (>= 4.0.3), libunbound2 (>= 1.4.1), libvorbis0a (>= 1.1.2), libvorbisenc2 (>= 1.1.2), libvorbisfile3 (>= 1.1.2), libwrap0 (>= 7.6-4~), libx11-6, libxml2 (>= 2.7.4), zlib1g (>= 1:1.1.4)
Breaks: asterisk (<< 1:1.8.3.3), asterisk-h323 (<< 1:1.8.4.4~dfsg-2)
Replaces: asterisk (<< 1:1.8.3.3)
Section: libs
Priority: optional
Homepage: http://www.asterisk.org/
Description: loadable modules for the Asterisk PBX
 Asterisk is an Open Source PBX and telephony toolkit.
 .
 This package includes most of the loadable modules of the Asterisk package.
 There is normally no need to explicitly install it.
Original-Maintainer: Debian VoIP Team <pkg-voip-maintainers@lists.alioth.debian.org>
